.nav {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: #fff;
  width: 100%;
  min-width: 98.7vw;
  margin: 0px;
  box-shadow: 0px 49px 107px 0px rgba(0, 0, 0, 0.29),
    0px 195px 195px 0px rgba(0, 0, 0, 0.26),
    0px 438px 263px 0px rgba(0, 0, 0, 0.15),
    0px 778px 311px 0px rgba(0, 0, 0, 0.04),
    0px 1216px 340px 0px rgba(0, 0, 0, 0.01);
}

.logo {
  width: 92px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 30px;
}

.conteiner{
  display: flex;
}

.btn {
  max-width: 172px;
  width: auto;
  max-height: 35px;
  height: auto;
  margin-right: 46px;
  border-radius: 13px;
  background: var(--amarillo, #ffd300);
  color: var(--black, #202128);
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
