.FormSesionps{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/fondoLanding.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

}

.Form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(252, 248, 248, 0.733);
    border: 2px solid rgba(143, 142, 142, 0.726);
    border-radius: 10px;
    width:700px ;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    text-align: center;
    
}

.Form h1{
    font-size: 30px;
    margin-bottom: 20px;
    }

.Form p{
    width: 100%;
    padding: 0px;
    margin:0px
}

.btconteinerps{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    }

.btLoginps{
    background-color: transparent;
    color: blue;
    padding: 0px;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    margin-right: auto;
    margin-left: 40px;
}

.formSession{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.labelform1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50px;
    margin: 15px;
}

.label1 {
    margin: 3px;
    font-size: 17px;

}

.inputNom {
    height: 40px;
    border-radius: 5px;
    background: #D9D9D9;
    border: 0px;
    color: rgb(0, 0, 0)!important;
    padding: 8px;
    
}

.p1 {
    /* margin: 0px; */
    color: rgb(255, 4, 4);
    font-size: 13px;
    font-weight: 600;
}

.button{
    background-color: rgba(255, 211, 0, 1);
    margin-top: 4%;
    width: 60%;
    color: black;
}