@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --raleway-font-700: 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap';
}

@media only screen and (min-width: 200px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }

  body .bg-light {
    background-color: white !important;
  }

  .navbar .navbar-expand-lg .navbar-light .bg-light {
    flex-direction: row-reverse !important;


  }

  .navbar-brand img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 120px;
    height: 45px;
    flex-shrink: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }

}

@media only screen and (min-width: 992px) {
  body .navbar {
    flex-direction: row;
    --bs-navbar-padding-y: 1.75rem !important;
  }

  .navbar-brand img {
    width: 149px;
    height: 74px;
  }

  .bt-nav-landing {
    padding: 0px;
    background-color: transparent;
    border: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
  }

  .bt-nav-landing a:hover {
    transition: all 0.5s ease-in-out;
    color: rgb(119, 119, 119);
    border: 0px;
  }

  .bt-nav-landing a:not(:hover) {
    transition: all 0.5s ease-in-out;
    color: rgb(0, 0, 0);
  }

  .bt-nav-landing-register {
    background-color: rgba(255, 211, 0, 1);
    padding: 0px;
    border: 0px;
    font-family: var(--raleway-font-700), sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 15px;

  }

  .bt-nav-landing-register a:hover {
    transition: all 0.5s ease-in-out;
    color: rgb(84, 84, 84);
    border: 0px;
  }

  .bt-nav-landing-register a:not(:hover) {
    transition: all 0.5s ease-in-out;
    color: rgb(0, 0, 0);
  }



}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}