:root{
 --dodger-blue-50: #f0f7fe;
--dodger-blue-100: #deedfb;
--dodger-blue-200: #c4e2f9;
--dodger-blue-300: #9bcef5;
--dodger-blue-400: #6cb4ee;
--dodger-blue-500: #3d8fe6;
--dodger-blue-600: #347bdc;
--dodger-blue-700: #2b66ca;
--dodger-blue-800: #2953a4;
--dodger-blue-900: #264882;
--dodger-blue-900-Transparent:  rgba(32, 51, 113, 0.623);
--dodger-blue-950: #1c2d4f;


}